version: "3.8"

services:
  postgres:
    image: postgres:latest
    container_name: leetcode_db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
    ports:
      - "5435:5432"
    restart: unless-stopped
